
@{
    ViewData["Title"] = "checkyourInbox";
    Layout = "~/Views/Shared/_Autlayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body">
            Password Reset Link has been Send To your mail , Please Check your Inbox
        </div>
        <a href="https://mail.google.com/mail/u/0/#inbox"> Go To your Inbox </a>
    </div>
</div>
